#test {
display:inline-block;
}

#headshot{
width: 300px;
height: 300px;

}


#image
{
display:inline-block;
vertical-align: top ;
}

#mydetails
{
display:inline-block;
padding:30px;
}

#myname
{
font-size: 30px;
font-weight: bold;
}

#entry
{
width:400px;
}

#numberlabel
{
	padding: 10px;
	text-align: center;
	vertical-align: bottom ;
}







#new1 {

	display:inline-block;

}

#new-item, #refresh {
	padding-left:10px;

	display:inline-block;
	
	transform: translateY(-5%);

}



#card-border{
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
	display:inline-block;
	overflow-y:auto;
}

#content
{
	overflow-y:auto;
	height:600px
	
}

#content-border
{
	overflow-y:auto;
	width: 100%;
	
	padding:10px;
	
	
}

#qty {
	width:100%;

}

#item-qty {
	float: right;
}

.card-text {
	display:inline-block
}

#form-entry {
	display:inline-block;
	position: absolute;
	top:100px;

}

#currentItem {
	display:inline-block
}

#confirm-item {
	display:none
}

#card {
 max-width: 18rem;
 transition: transform .2s;

}

#card:hover {
	
	transform: scale(1.05);
	cursor:pointer;
}


#card-img{
	margin:auto;
	object-fit: cover;
}

#page-update, #page-view, #page-addition
{
	display:none;
}

#curItemPreview
{
	transform: scale(2);
}

#modify-item-btns {
	width:100%;
	padding-top: 95px;
	display:inline-block;
}

#delete-item
{
	float:left;
}

#confirm-item
{
	float:right;
}

.dropdown
{
	display:inline-block;
	padding-left: 20px;
}

#left-nav
{
	float:left;
}